<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
        <p>{{ a }}</p>
        <button v-on:click="a = 2">Change it</button>
    </div>
    <script>
      new Vue({
        el: "#app",
        data: {
          a: 1,
        },
        created: function () {
          // `this` points to the vm instance
          console.log("a is: " + this.a);
        },
        mounted: function () {
          console.log("mounted");
        },
        updated: function () {
            console.log("updated");
        },
        destroyed: function () {
            console.log("destroyed");
        }
      });
      // => "a is: 1"
    </script>
  </body>
</html>
